<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.name}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presenceService.onlineUsers$ | async)?.includes(member.userName)">
                    <i class="class fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                    <strong>Name:</strong>
                    <p>{{member.name}}</p>
                </div>
                <div>
                    <strong>UserName:</strong>
                    <p>{{member.userName}}</p>
                </div>
                <div [ngSwitch]="member.donorType">
                    <strong>Donor Type:</strong>
                    <p *ngSwitchCase="1">Individual</p>
                    <p *ngSwitchCase="2">Organization</p>
                    <p *ngSwitchCase="3">Restaurant</p>
                    <p *ngSwitchCase="4">PartyPlot</p>
                </div>
                <div [ngSwitch]="member.volunteerType">
                    <strong>Volunteer Type:</strong>
                    <p *ngSwitchCase="1">Individual</p>
                    <p *ngSwitchCase="2">Organization</p>
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.addressLine1}}, <br>
                    {{member.addressLine2}}, <br>
                    {{member.city}}, <br>
                    {{member.pincode}}</p>
                </div>
                <div>
                    <strong>Phone Number:</strong>
                    <p>{{member.phoneNumber}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.memberSince | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button (click)="selectTab('Messages')" class="btn btn-success">Messages</button>
                </div>
            </div>
        </div>

    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="About {{member.name}}" (selectTab)="onTabActivated($event)" >
                <h4>Description</h4>
                <p>{{member.description ? member.description : "not provided"}}</p>
                <h4>Looking for</h4>
                <p>{{member.lifeGoals ? member.lifeGoals : "not provided"}}</p>
            </tab>

            <tab heading="Messages" (selectTab)="onTabActivated($event)" >
                <app-member-messages [username]="member.userName"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>