<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d869abce-f703-4560-845b-ddbc69e78694/resourceGroups/lfiApiRG/providers/Microsoft.Web/sites/lfiApi20230406121308</ResourceId>
    <ResourceGroup>lfiApiRG</ResourceGroup>
    <ApiResourceId>/subscriptions/d869abce-f703-4560-845b-ddbc69e78694/resourceGroups/lfiApiRG/providers/Microsoft.ApiManagement/service/lfiApi/apis/lfiApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lfiapi20230406121308.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1f174b92-5b49-41ec-a348-aa3088a95d62</ProjectGuid>
    <MSDeployServiceURL>lfiapi20230406121308.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lfiApi20230406121308</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$lfiApi20230406121308</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>